<div class="theme-team {{type}}">
    <h1>Meet the Team</h1>
    <p>We are here to help you build amazing EmberJS applications.</p>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <img src="images/people/woman-1.jpg">
                <h3>Andrea L.</h3>
                <h5>Lead Designer</h5>
            </div>
            <div class="col-xs-12 col-sm-3">
                <img src="images/people/woman-2.jpg">
                <h3>Teresa M.</h3>
                <h5>Lead Designer</h5>
            </div>
            <div class="col-xs-12 col-sm-3">
                <img src="images/people/woman-3.jpg">
                <h3>Karla R.</h3>
                <h5>Account Executive</h5>
            </div>
            <div class="col-xs-12 col-sm-3">
                <img src="images/people/woman-4.jpg">
                <h3>Sheyla D.</h3>
                <h5>Creative Director</h5>
            </div>
        </div>
    </div>
</div>
