<div class="theme-error-404">
<h1>404</h1>
<h3>{{fa-icon "warning"}} Oh noes! page not found.</h3>
<h4>This URL was not found on Mountainwerks.</h4>
<button class="btn btn-lg btn-error">Back Home</button>
</div>
