<div class="tech">

    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <img class="im" src="images/cover/tech-cover.jpg" data-cover="tech">
                <h1>Technology</h1>
            </div>
            <div class="col-xs-3">
                {{#link-to "sections.philosophy"}}
                    <img class="im thumb" src="images/cover/philosophy-cover.jpg" data-cover="philosophy">
                {{/link-to}}
                {{#link-to "sections.trips"}}
                    <img class="im thumb" src="images/cover/trips-cover.jpg" data-cover="trips">
                {{/link-to}}
                {{#link-to "sections.typewriters"}}
                    <img class="im thumb" src="images/cover/typewriters-cover.jpg" data-cover="typewriters">
                {{/link-to}}
            </div>
        </div>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <p>
                I've worked on the Chrome V8 team since 2012, first on the Runtime, and especially
                arrays. Later I started the move away from patching ICs to "vector ICs," which
                store map-based feedback in simple arrays instead of compiled code. Now I manage
                the Javascript Foundation Team, and sneak in a little bit of
                programming now and then.
            </p>
        </div>
        <div class="col-xs-12 col-sm-3">
            <h3>Interesting stuff</h3>
            {{theme-block-title title="Speaking at AmsterdamJS" date="2017/06/08" 
                desc="In June I gave a talk at the <a href='https://amsterdamjs.com/#speakers'>AmsterdamJS conference</a> about how we gather and
                use feedback inside V8 to optimize code."}}
            {{theme-block-title 
                title="The Official V8 Blog" 
                desc="Articles written by folks on the team 
                      <a href='https://v8project.blogspot.com'>about the work we're doing</a>.
                      Sometimes dry, but a reliable indicator of what we've been up to."}}
            {{theme-block-title title="Benedikt Meurer's Blog'"
                desc="Benedikt has <a href='http://benediktmeurer.de'>interesting and in-depth 
                      articles</a> pretty often."}}
        </div>
    </div>
</div>

</div>
