<div class="typewriters">

    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <img class="im" src="images/cover/typewriters-cover.jpg" data-cover="typewriters">
                <h1>Typewriters</h1>
            </div>
            <div class="col-xs-3">
                {{#link-to "sections.trips"}}
                    <img class="im thumb" src="images/cover/trips-cover.jpg" data-cover="trips">
                {{/link-to}}
                {{#link-to "sections.philosophy"}}
                    <img class="im thumb" src="images/cover/philosophy-cover.jpg" data-cover="philosophy">
                {{/link-to}}
                {{#link-to "sections.tech"}}
                    <img class="im thumb" src="images/cover/tech-cover.jpg" data-cover="tech">
                {{/link-to}}
            </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <p>
                Typewriters have been tremendous fun!
            </p>
            
            <hr class="border-top-soft-dark-gray">
        
        <div class="report-list">
            <table class="table table-stripped table-bordered">
                <thead>
                    <tr> <td>Date</td> <td>Where</td> <td>Notes</td> </tr>
                </thead>
                <tbody>
                    <tr> <td>April 2017</td> <td>Martinswand</td> <td>with Barbara</td> </tr>
                    <tr> <td>February 2017</td> <td>Hiking</td> <td> </td> </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <h3>Interesting things</h3>
            {{theme-block-title 
                title="Climbing with Fred Beckey" 
                date="2012/07/20" 
                desc="Aidan Haley and I spent a <a href='http://climbing-blog.patagonia.com/post/61598861999/a-day-with-fred-beckey-in-the-dolomites-fred'>
                      week with Fred Beckey in</a>
                      the Dolomites. It was fantastic, though not always easy!
                      We did two multipitch climbs in the Cinque Torre.
                      Patagonia sponsored the film, and Colin Haley did
                      the narration."}}
            {{theme-block-title title="Visiting mountains"   date="2016/01/08" desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit."}}
            {{theme-block-title title="Photography session"    date="2016/01/12" desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit."}}
            {{theme-block-title title="Camping and lodging"    date="2016/01/21" desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit."}}
        </div>

    </div>
</div>

</div>
