<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <p class="font-white font-light padding-md">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            <hr class="border-top-soft-dark-gray">
            <p class="font-white font-light padding-md">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            <hr class="border-top-soft-dark-gray">
            <p class="font-white font-light padding-md">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            <hr class="border-top-soft-dark-gray">
        </div>
        <div class="col-xs-12 col-sm-3">
            <h3>Latest Posts</h3>
            {{theme-block-title title="Travel tips and tricks" date="2016/01/05" desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit."}}
            {{theme-block-title title="Visiting mountains"   date="2016/01/08" desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit."}}
            {{theme-block-title title="Photography session"    date="2016/01/12" desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit."}}
            {{theme-block-title title="Camping and lodging"    date="2016/01/21" desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit."}}
        </div>

    </div>
</div>
