<div class="blog">

    {{#theme-head-cover}}
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="cover-text">
                        <h1>Whats New</h1>
                    </div>
                </div>
            </div>
        </div>
    {{/theme-head-cover}}

    <div class="blog-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <h3>Latest Posts</h3>
                    {{theme-block-title title="Drawing with pencils" date="2017/10/09" desc="Learning to draw."}}
                </div>
                <div class="col-xs-12 col-sm-9">
                    <img src="images/site/mountains1_medres.jpg">
                    <h2>Drawing with pencils</h2>
                    <p class="blog-p">
                        Lately I've been learning to draw, thanks to great YouTube tutorials like
                        <a href="https://www.youtube.com/watch?v=n0i4pFcLVAk">this one</a>, from
                        <a href="https://www.youtube.com/channel/UCm2WMojIj6033QI3VzhFjLg">HowToDraw</a>. Lots of fun!
                        Of course, Elijah has been annotating my efforts with little red Pennywise balloons, which
                        creeps me the heck out.
                    </p>
                    </div>
            </div>
        </div>
    </div>
</div>
