<div class="faqs">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>FAQs</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="hidden-xs">
                    <h3>Most Popular</h3>
                    {{#theme-block-title}}
                        1. How lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    {{/theme-block-title}}
                    {{#theme-block-title}}
                        2. When do lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    {{/theme-block-title}}
                    {{#theme-block-title}}
                        3. What if lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    {{/theme-block-title}}
                    {{#theme-block-title}}
                        4. How do I lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    {{/theme-block-title}}
                    {{#theme-block-title}}
                        5. Where do I lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    {{/theme-block-title}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <h3>1. How lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis lorem ac sem maximus tempor. Duis sagittis purus venenatis ante ullamcorper, rutrum pulvinar ligula luctus. Donec in viverra turpis. Morbi volutpat felis sapien, sit amet sodales diam dapibus sed. Nam id nibh molestie, ultricies odio eget, ultrices nulla. Aliquam posuere leo nec ipsum consequat, nec aliquet ipsum mollis. Donec molestie facilisis nibh eget sagittis. Etiam eleifend ipsum ac tortor tincidunt lobortis. Phasellus a tortor eget libero maximus laoreet in id turpis. Donec vestibulum varius nisi et eleifend. In convallis diam vitae augue interdum ultrices. Curabitur vel scelerisque arcu, et mollis massa. In sit amet ligula non urna congue ultrices. Fusce in neque at ex vehicula consequat in ac erat. Nunc porttitor sapien in iaculis consequat. Nam libero ex, gravida placerat rhoncus eu, suscipit id tellus.
                </p>

                <hr>

                <h3>2. When do lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis lorem ac sem maximus tempor. Duis sagittis purus venenatis ante ullamcorper, rutrum pulvinar ligula luctus. Donec in viverra turpis. Morbi volutpat felis sapien, sit amet sodales diam dapibus sed. Nam id nibh molestie, ultricies odio eget, ultrices nulla. Aliquam posuere leo nec ipsum consequat, nec aliquet ipsum mollis. Donec molestie facilisis nibh eget sagittis. Etiam eleifend ipsum ac tortor tincidunt lobortis. Phasellus a tortor eget libero maximus laoreet in id turpis. Donec vestibulum varius nisi et eleifend. In convallis diam vitae augue interdum ultrices. Curabitur vel scelerisque arcu, et mollis massa. In sit amet ligula non urna congue ultrices. Fusce in neque at ex vehicula consequat in ac erat. Nunc porttitor sapien in iaculis consequat. Nam libero ex, gravida placerat rhoncus eu, suscipit id tellus.
                </p>

                <hr>

                <h3>3. What if lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis lorem ac sem maximus tempor. Duis sagittis purus venenatis ante ullamcorper, rutrum pulvinar ligula luctus. Donec in viverra turpis. Morbi volutpat felis sapien, sit amet sodales diam dapibus sed. Nam id nibh molestie, ultricies odio eget, ultrices nulla. Aliquam posuere leo nec ipsum consequat, nec aliquet ipsum mollis. Donec molestie facilisis nibh eget sagittis. Etiam eleifend ipsum ac tortor tincidunt lobortis. Phasellus a tortor eget libero maximus laoreet in id turpis. Donec vestibulum varius nisi et eleifend. In convallis diam vitae augue interdum ultrices. Curabitur vel scelerisque arcu, et mollis massa. In sit amet ligula non urna congue ultrices. Fusce in neque at ex vehicula consequat in ac erat. Nunc porttitor sapien in iaculis consequat. Nam libero ex, gravida placerat rhoncus eu, suscipit id tellus.
                </p>

                <hr>

                <h3>4. How do I lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis lorem ac sem maximus tempor. Duis sagittis purus venenatis ante ullamcorper, rutrum pulvinar ligula luctus. Donec in viverra turpis. Morbi volutpat felis sapien, sit amet sodales diam dapibus sed. Nam id nibh molestie, ultricies odio eget, ultrices nulla. Aliquam posuere leo nec ipsum consequat, nec aliquet ipsum mollis. Donec molestie facilisis nibh eget sagittis. Etiam eleifend ipsum ac tortor tincidunt lobortis. Phasellus a tortor eget libero maximus laoreet in id turpis. Donec vestibulum varius nisi et eleifend. In convallis diam vitae augue interdum ultrices. Curabitur vel scelerisque arcu, et mollis massa. In sit amet ligula non urna congue ultrices. Fusce in neque at ex vehicula consequat in ac erat. Nunc porttitor sapien in iaculis consequat. Nam libero ex, gravida placerat rhoncus eu, suscipit id tellus.
                </p>

                <hr>

                <h3>5. Where do lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis lorem ac sem maximus tempor. Duis sagittis purus venenatis ante ullamcorper, rutrum pulvinar ligula luctus. Donec in viverra turpis. Morbi volutpat felis sapien, sit amet sodales diam dapibus sed. Nam id nibh molestie, ultricies odio eget, ultrices nulla. Aliquam posuere leo nec ipsum consequat, nec aliquet ipsum mollis. Donec molestie facilisis nibh eget sagittis. Etiam eleifend ipsum ac tortor tincidunt lobortis. Phasellus a tortor eget libero maximus laoreet in id turpis. Donec vestibulum varius nisi et eleifend. In convallis diam vitae augue interdum ultrices. Curabitur vel scelerisque arcu, et mollis massa. In sit amet ligula non urna congue ultrices. Fusce in neque at ex vehicula consequat in ac erat. Nunc porttitor sapien in iaculis consequat. Nam libero ex, gravida placerat rhoncus eu, suscipit id tellus.
                </p>
                <hr>

                <br />

            </div>
        </div>
    </div>
</div>
