<div>
  <div class="container">
    <div class="row">
      <h2>Trip locations in the Pacific Northwest</h2>
      {{#trip-map lat=northwest_lat lng=northwest_lng zoom=northwest_zoom
                  model=model}}
      {{/trip-map}}
 
      <h2>Trip locations in the Eastern Alps</h2>
      {{#trip-map lat=easternalps_lat lng=easternalps_lng zoom=easternalps_zoom
                  model=model}}
      {{/trip-map}}
     </div>
  </div>
</div>
