<div class="pricing">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Pricing</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                {{#theme-pricing title="Basic" price="$5.00/month" buttonAction="Sign Up Now" type="basic"}}
                    <ul>
                        <li>5 Users</li>
                        <li>20GB Space</li>
                        <li>20GB Bandwidth</li>
                        <li>Linux + SSH Hosting</li>
                        <li>Unlimited Email</li>
                        <li>24/7 Email Support</li>
                    </ul>
                {{/theme-pricing}}
            </div>
            <div class="col-xs-12 col-sm-3">
                {{#theme-pricing title="Medium" price="$10.00/month" buttonAction="Sign Up Now" type="medium"}}
                    <ul>
                        <li>10 Users</li>
                        <li>40GB Space</li>
                        <li>40GB Bandwidth</li>
                        <li>Linux + SSH Hosting</li>
                        <li>Unlimited Email</li>
                        <li>24/7 Email Support</li>
                    </ul>
                {{/theme-pricing}}
            </div>
            <div class="col-xs-12 col-sm-3">
                {{#theme-pricing title="Advanced" price="$20.00/month" buttonAction="Sign Up Now" type="advanced"}}
                    <ul>
                        <li>30 Users</li>
                        <li>100GB Space</li>
                        <li>100GB Bandwidth</li>
                        <li>Linux + SSH Hosting</li>
                        <li>Unlimited Email</li>
                        <li>24/7 Email Support</li>
                    </ul>
                {{/theme-pricing}}
            </div>
            <div class="col-xs-12 col-sm-3">
                {{#theme-pricing title="Enterprise" price="$60.00/month" buttonAction="Sign Up Now" type="enterprise"}}
                    <ul>
                        <li>Unlimited Users</li>
                        <li>Unlimited Space</li>
                        <li>Unlimited Bandwidth</li>
                        <li>Linux + SSH Hosting</li>
                        <li>Unlimited Email</li>
                        <li>24/7 Email Support</li>
                    </ul>
                {{/theme-pricing}}
            </div>
        </div>
    </div>
</div>
