<div class="galleries-flex">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Flexible Gallery</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="flex-gallery">
                    <ul>
                        <li><img src="images/cover/cover-1.jpg"></li>
                        <li><img src="images/cover/cover-2.jpg"></li>
                        <li><img src="images/cover/cover-3.jpg"></li>
                        <li><img src="images/cover/cover-4.jpg"></li>
                        <li><img src="images/cover/cover-5.jpg"></li>
                        <li><img src="images/cover/cover-6.jpg"></li>
                        <li><img src="images/cover/cover-7.jpg"></li>
                        <li><img src="images/cover/cover-8.jpg"></li>
                        <li><img src="images/cover/cover-9.jpg"></li>
                        <li><img src="images/cover/cover-10.jpg"></li>
                        <li><img src="images/cover/cover-11.jpg"></li>
                        <li><img src="images/cover/cover-12.jpg"></li>
                        <li><img src="images/cover/cover-13.jpg"></li>
                        <li><img src="images/cover/cover-14.jpg"></li>
                        <li><img src="images/cover/cover-15.jpg"></li>
                        <li><img src="images/cover/cover-16.jpg"></li>
                        <li><img src="images/cover/cover-17.jpg"></li>
                        <li><img src="images/cover/cover-18.jpg"></li>
                        <li><img src="images/cover/cover-19.jpg"></li>
                        <li><img src="images/cover/cover-20.jpg"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
