<div class="theme-about-me">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <div class="img-container">
                    <img class="portrait-image" src="images/people/portrait.jpg">
                    <p>On my favorite grade VI route ever, on the Burschlwand, Austria</p>
                </div>
            </div>
            <div class="col-xs-9">
                <h2>About me</h2>
                
                <p>I'm a software engineer working on the <a href="http://www.google.com/en">Google</a> 
                     <a href="http://www.chromium.org/Home">Chrome</a> 
                     <a href="http://code.google.com/p/v8/">V8</a> team in Munich, Germany, generally trying to make the system
                    run <a href="http://arewefastyet.com/">faster</a>. Areas of current interest are Allocation Sites, which
                    allow us to gather feedback for specific initialization sites in JavaScript, and 
                    <a href="http://mrale.ph/blog/2012/06/03/explaining-js-vms-in-js-inline-caches.html">Inline Caches</a>                    
                    (<em>wonderful article by Vyacheslav</em>).</p>
            
                <br />

                <p>This site is primarily devoted to my {{#link-to "sections.trips"}}longtime hobby{{/link-to}} of alpine climbing.
                    I learned to climb in Washington State, and moved to Munich in 2006 to explore the Alps. I enjoy the
                    mountain activities so much that I’ve obsessively recorded them since the very first climb in 1997.
                </p>

                <p>Occasionally I write on my blog about music, metaphysics, politics, books, or family strolls through the
                    Englischer Garten.</p>

            </div>
        </div>
        <div class="row">
        </div>
    </div>
</div>