.pricing {
    .bg-white;
    min-height: 560px;
    padding-bottom: 20px;
    h3 {
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: 1px dotted silver;
    }
    .header {
        .bg-light-silver;
        border-bottom: 1px solid silver;
    }
}
